<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RecorderAndPlayerAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA6BE6301E603E0A001C280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6BE6491E603E0B001C280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA6BE6541E603E0B001C280E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
